.formdata{
position: relative;
width: 70%;
top: 20%;
margin: auto;
padding: 0;
input{
    width: 100%;
    padding: 10px;
    font-size: 12px;
    margin-bottom: 10px;
}
.btn{
    width: 100%;
    margin-bottom: 20px;
}
}
.logibox{
    display:none;
}