.formdata{
    position: relative;
    width: 70%;
    top: 20%;
    margin: auto;
    padding: 0;
    input{
        width: 100%;
        padding: 10px;
        font-size: 12px;
        margin-bottom: 10px;
    }
    .errode{
        margin-bottom: 10px;
        text-align: center;
        color: #ff3100;
        font-size: 20px;
      }  
    }

 